body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #881124;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #881124;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
    text-align: right;
}

.header-right p {
    margin: 5px 0;
}

.header-banner a {
    color: #fff;
    text-decoration: underline;
}

.header-banner a:hover {
    text-decoration: none;
}

nav {
    background-color: #707170;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #707170;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 150px 20px 20px; /* Adjust this value based on your header height */
}

.flex-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px; /* Add some space between sections */
}

.flex-section .text-content {
    flex: 1;
    margin-right: 20px;
}

.flex-section .image-content {
    flex: 1;
    text-align: left;
}

.flex-section .image-content img {
    max-width: 100%;
    height: auto;
}

section:not(.flex-section) .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; /* Add some space between sections */
}

section:not(.flex-section) .text-content {
    flex: 1;
    margin-right: 20px;
}

section:not(.flex-section) .image-content {
    flex: 1;
    text-align: right;
}

section:not(.flex-section) .image-content img {
    max-width: 100%;
    height: auto;
}

.shrink-image {
    width: 500px; /* Set your desired width */
    height: auto; /* Maintains the aspect ratio */
}
